<ion-header no-border [ngClass]="ocultar">
  <ion-toolbar>
    <img src="/assets/slides/user-6.svg"
         class="avatar animated fadeIn">

  </ion-toolbar>
</ion-header>


<ion-content>
<ion-slides mode="ios" pager="true" class="slide-full"scrollbar="ios">
  <ion-slide *ngFor="let slide of slides">
    <ion-card mode="ios">
      <img [src]="slide.img" class="slide-image">
      <ion-card-header>
      
        <ion-card-title>{{slide.titulo}}</ion-card-title>
      </ion-card-header>
        <ion-content>
          {{slide.desc}}
        </ion-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-button (click)="onClick()" expand="full" color="primary" fill="clear" shape="round">
    Comenzar
    </ion-button>
  </ion-slide>
</ion-slides>

</ion-content>
